@import './_variables.scss';

.main-window-wrapper {
  display: flex;
}

.window {
  padding: 2vw;
  height: 100vh;
  width: 30vw;
  overflow: auto;
}

.window::-webkit-scrollbar {
  opacity: 0;
}
.window::-webkit-scrollbar-track {
  background: $black;
}
.window::-webkit-scrollbar-thumb {
  background: $secondary-bg-color;
}
