@import './_variables.scss';


.resizer {
    height: 100vh;
    cursor: col-resize;
    width: 10px;
    background-color: $card-bg-color;
    position: absolute;
}

.resizer:hover {
    height: 100vh;
    cursor: col-resize;
    background-color: $card-bg-color;
}

.resizer:focus {
    height: 100vh;
    cursor: col-resize;
    background-color: blue;
}