@import './_variables.scss';

.side-menu-wrapper {
  width: 5vw;
  background-color: $black;
  width: max-content;
}

.bottom-list {
  position: fixed;
  bottom: 10px;
}

.side-menu {
  text-align: center;
  width: 100%;
}

.side-menu li {
  display: block;
  padding: 10px 20px;
}

.side-menu .side-menu-icon {
  width: 50px;
  color: grey;
}

.side-menu .active {
  color: $card-bg-color;
}

.side-menu .side-menu-icon:hover {
    color: $card-bg-color;
    transition: 150ms;
}
