.top-menu {
    width: 100vw;
    height: 20px;
    position: fixed;
    background-color: orangered;
    z-index: 50;
  &__list {
    list-style: none;
  }
  &__list-item {
    display: inline-block;
  }
}
