@import './_variables.scss';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.App {
    background-color: $main-bg-color;
    width: 100vw;
    height: 100vh;
    color: $common-font-color;
    display: flex;
    overflow: hidden;
}


.form-input {
    width: 100%;
    background-color: hsla(0, 0%, 100%, 0);
    color: #fff;
    border: none;
}

.form-btn {
    font-size: 1.4rem;
    padding: 5px 10px;    
    border: none;
    border-radius: 10px;
    background-color: hsla(0, 0%, 100%, 0);
    color: #fff;
    outline: none;
    cursor: pointer;
}

.form-btn:hover {
    color: $card-bg-color;
}
@import './_card.scss';
@import './_editor.scss';
@import './_mainWindow.scss';
@import './_resizer.scss';
@import './_snippetView.scss';
