@import './variables.scss';
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/raleway/static/Raleway-Regular.ttf');
}
body {
  font-family: 'Raleway';
  letter-spacing: 2px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.flex {
  display: flex;
  align-content: space-between;
}

.App {
  background-color: $main-bg-color;
  width: 100vw;
  height: 100vh;
  color: $common-font-color;
  display: flex;
  overflow: hidden;
}

.form-input {
  width: 100%;
  background-color: hsla(0, 0%, 100%, 0);
  color: #fff;
  border: none;
}

.form-btn {
  font-size: 1.4rem;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  background-color: hsla(0, 0%, 100%, 0);
  color: #fff;
  outline: none;
  cursor: pointer;
}

.form-btn:hover {
  color: $card-bg-color;
}

.form-select {
  width: 50%;
}

.snippet-query-input {
  border: none;
  border-radius: 10px;
  box-shadow: none;
  width: 350px;
  padding: 10px 20px;
  outline: none;
}

.message__empty-window {
  font-size: 2rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  & div {
    text-align: center;
  }
}

@import './card.scss';
@import './sideMenu.scss';
@import './editor.scss';
@import './mainWindow.scss';
@import './snippetView.scss';
