@import './_variables.scss';


.wrapper-editor {
    padding: 0px!important;
}

.wrapper-editor #AceEditor {
    width:100%!important;
    height:100%!important;
    font-size: 1.1rem!important;
}

.wrapper-editor #AceEditor ::-webkit-scrollbar {
    opacity: 0;
  }
  .wrapper-editor #AceEditor ::-webkit-scrollbar-track {
    background: $black;
  }
  .wrapper-editor #AceEditor ::-webkit-scrollbar-thumb {
    background: $secondary-bg-color;
  }
  